article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .navbar {
    z-index: 999999;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    display: flex;
    position: absolute;
    inset: 0% 0% auto;
  }
  
  .nav_block {
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    width: clamp(0rem, -2rem + 100vw, 100rem);
    display: flex;
    position: relative;
  }
  
  a {
    background-color: rgba(0, 0, 0, 0);
  }
  
  .w-inline-block {
    max-width: 100%;
    display: inline-block;
  }
  
  .nav_cta-mob {
    background-color: var(--colors--blue-darker);
    color: var(--primary-bg);
    padding-top: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.875rem;
    text-decoration: none;
    display: none;
  }
  
  .nav_wrapper {
    background-color: var(--primary-bg);
    border-radius: 0.75rem;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 15px 20px;
  }
  
  .nav_left {
    justify-content: flex-start;
    align-items: stretch;
    display: flex;
  }
  
  .w-button {
    color: rgb(255, 255, 255);
    line-height: inherit;
    cursor: pointer;
    background-color: rgb(56, 152, 236);
    border: 0px;
    border-radius: 0px;
    padding: 9px 15px;
    text-decoration: none;
    display: inline-block;
  }
  
  .nav_button {
    background-color: var(--colors--blue-darker);
    border-top-left-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.25rem;
    font-weight: 600;
    line-height: 1.5;
    transition: background-color 0.2s;
    display: flex;
  }
  
  .nav_account-mob {
    border-right: 1px solid var(--colors--border);
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    display: none;
  }
  
  .icon-24 {
    aspect-ratio: 1 / 1;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    position: relative;
  }
  
  svg:not(:root) {
    overflow: hidden;
  }
  
  .nav_account-desk {
    border-right: 1px solid var(--colors--border);
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    transition: color 0.2s;
    display: flex;
  }
  
  .nav_phone {
    gap: 0.5rem;
    flex: 0 0 auto;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 600;
    text-decoration: none;
    display: flex;
  }
  
  .nav_center {
    display: none;
  }
  
  .nav_logo-link-center {
    flex: 0 0 auto;
  }
  
  img {
    border: 0px;
  }
  
  .nav_logo-img {
    aspect-ratio: 133 / 40;
    height: 2.5rem;
  }
  
  .nav_right {
    gap: 1.5rem;
    flex-flow: row-reverse;
    justify-content: flex-start;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
  }
  
  .nav_burger {
    border-left: 1px solid var(--colors--border);
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    display: none;
  }
  
  .w-dropdown {
    text-align: left;
    z-index: 900;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    position: relative;
  }
  
  .w-dropdown-btn, .w-dropdown-toggle, .w-dropdown-link {
    vertical-align: top;
    color: rgb(34, 34, 34);
    text-align: left;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-decoration: none;
    position: relative;
  }
  
  .w-dropdown-toggle {
    user-select: none;
    cursor: pointer;
    padding-right: 40px;
    display: inline-block;
  }
  
  .burger-icon {
    aspect-ratio: 2 / 1.5;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 1.5rem;
    display: flex;
  }
  
  .w-dropdown-list {
    background: rgb(221, 221, 221);
    min-width: 100%;
    display: none;
    position: absolute;
  }
  
  .spacer-5rem, .spacer-nav-mob {
    width: 100%;
    min-height: 2rem;
  }
  
  .nav_logo-link-right {
    flex: 0 0 auto;
    height: 2.5rem;
    padding-right: 1rem;
  }
  
  .nav_menu_desktop {
    display: flex;
  }
  
  .nav_menu_item-desk {
    position: static;
  }
  
  .nav_menu_drop-desk {
    border-right: 1px solid var(--colors--border);
    padding: 0px 1.5rem;
    text-decoration: none;
  }
  
  .nav_services-drop {
    gap: 1rem;
    flex-flow: row-reverse;
  }
  
  .spacer-2rem {
    width: 100%;
    min-height: 2rem;
  }
  
  .nav_about-box {
    background-color: var(--colors--white);
    border-radius: 0.75rem;
    flex-flow: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2rem;
    display: flex;
  }
  
  .nav_about-list-group {
    gap: 1rem;
    direction: rtl;
    flex-flow: row-reverse;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: flex-start;
    align-items: flex-start;
    display: grid;
  }
  
  .nav_about-list {
    flex-flow: column;
    display: flex;
  }
  
  .nav_text-link {
    white-space: nowrap;
    border-radius: 0.375rem;
    padding: 0.5rem 1rem;
    display: flex;
  }
  
  .w-dropdown-link {
    color: rgb(34, 34, 34);
    padding: 10px 20px;
    display: block;
  }
  
  .nav_services-box {
    background-color: var(--colors--white);
    border-radius: 0.75rem;
    flex-flow: row-reverse;
    width: 100%;
    display: flex;
  }
  
  .nav_services-big-list {
    gap: 1rem;
    background-color: var(--colors--white);
    border-radius: 0.75rem;
    flex-flow: row-reverse;
    width: 80%;
    padding: 1rem;
    display: flex;
  }
  
  .nav_services-card {
    gap: 0.5rem;
    aspect-ratio: 2 / 3;
    border: 1px solid var(--colors--border);
    border-radius: 0.375rem;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1.5rem 1.5rem 1rem;
    text-decoration: none;
    display: flex;
    position: relative;
    overflow: hidden;
  }
  
  .nav_services-content {
    gap: 0.5rem;
    text-align: center;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
  }
  
  .icon-24.in-navbar {
    z-index: 3;
  }
  
  .nav_services-title {
    z-index: 3;
    font-size: 1.25rem;
    font-weight: 600;
    position: relative;
  }
  
  .nav_services-desc {
    z-index: 3;
    opacity: 0.5;
    text-align: center;
    text-wrap: pretty;
    direction: rtl;
    font-size: 0.875rem;
    position: relative;
  }
  
  .nav_services-img {
    z-index: 1;
    opacity: 0;
    filter: blur(12px);
    object-fit: cover;
    object-position: 50% 50%;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: absolute;
  }
  
  .nav_services-overlay {
    z-index: 2;
    background-color: var(--colors--blue-darkest);
    opacity: 0;
    position: absolute;
    inset: 0%;
  }
  
  .nav_services-small-list {
    flex-flow: column;
    flex: 1 1 0%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    display: flex;
  }
  
  .nav_text-link-service {
    white-space: nowrap;
    border-radius: 0.375rem;
    justify-content: flex-end;
    align-items: center;
    padding: 0.5rem 1rem;
    display: flex;
  }
  
  .menu_wrapper {
    display: none;
  }
  
  .icon-menu {
    aspect-ratio: 1 / 1;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    position: relative;
  }
  
  .menu_btn-group {
    gap: 1rem;
    flex-flow: row-reverse;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .button {
    gap: 1.25rem;
    background-color: var(--colors--blue-darker);
    text-align: center;
    white-space: nowrap;
    word-break: keep-all;
    border-radius: 0.5rem;
    justify-content: center;
    align-items: stretch;
    height: 3.5rem;
    padding: 1rem 1.25rem;
    font-size: clamp(0.875rem, 0.813rem + 0.25vw, 1rem);
    font-weight: 700;
    line-height: 1.5;
    display: flex;
  }
  
  .button.is-white, .button.is-gray {
    background-color: var(--colors--white);
    color: var(--colors--blue-darkest);
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  
  .btn-line {
    background-color: var(--colors--border);
    width: 1px;
    height: 150%;
  }
  
  .icon-24.is-gray {
    color: var(--colors--gray);
  }
  
  @media screen and (max-width: 767px) {
    .nav_cta-mob {
      white-space: nowrap;
      word-break: keep-all;
      border-top-left-radius: 0.75rem;
      border-top-right-radius: 0.75rem;
      justify-content: center;
      align-items: center;
      width: clamp(0rem, -10rem + 100vw, 100rem);
      height: 2rem;
      font-weight: 600;
      display: none;
    }
    .nav_wrapper {
      height: 4rem;
    }
    .nav_left {
      justify-content: flex-start;
      align-items: center;
    }
    .nav_button, .nav_phone, .nav_account-desk {
      display: none;
    }
    .nav_account-mob {
      width: 4rem;
      height: 2.5rem;
      display: flex;
    }
    .nav_center {
      justify-content: center;
      align-items: center;
      width: 100%;
      display: flex;
    }
    .nav_logo-img {
      height: 2rem;
    }
    .nav_burger {
      width: 4rem;
      height: 2.5rem;
    }
    .spacer-nav-mob {
      min-height: 4.5rem;
    }
    .div-block-3 {
      height: calc(-6.5rem + 80dvh);
    }
    .nav_logo-link-right {
      display: none;
    }
    .nav_services-content {
      flex-flow: row;
    }
    .nav_services-desc {
      display: none;
    }
    .nav_services-small-list {
      grid-template-rows: auto auto;
      grid-template-columns: 1fr 1fr;
      grid-auto-columns: 1fr;
      display: grid;
    }
    .menu_list.is-main, .menu_list.is-services, .menu_list.is-about {
      display: flex;
    }
    .menu_first-list {
      grid-auto-columns: 1fr;
    }
    .button {
      height: 3rem;
    }
    .button.is-white, .button.is-gray {
      justify-content: center;
      align-items: center;
    }
  }
  
  @media screen and (max-width: 991px) {
    .nav_right {
      gap: 0rem;
      padding-top: 0px;
      padding-bottom: 0px;
    }
    .nav_burger {
      height: 4.5rem;
      display: flex;
    }
    .dropdown {
      justify-content: center;
      align-items: center;
      display: flex;
      position: static;
    }
    .dropdown-toggle {
      padding: 0px;
      position: static;
    }
    .dropdown-list {
      inset: 0% 0% auto;
    }
    .spacer-nav-mob {
      min-height: 5rem;
    }
    .div-block-3 {
      background-color: var(--colors--white);
      border-radius: 0.75rem;
      height: calc(-7rem + 80dvh);
    }
    .nav_menu_desktop {
      display: none;
    }
    .nav_services-box {
      flex-flow: column;
      padding-bottom: 2rem;
      position: relative;
    }
    .nav_services-big-list {
      gap: 1rem;
      direction: rtl;
      grid-template-rows: auto auto;
      grid-template-columns: 1fr 1fr;
      grid-auto-columns: 1fr;
      width: 100%;
      display: grid;
    }
    .nav_services-card {
      aspect-ratio: auto;
    }
    .nav_services-title {
      font-size: 1rem;
    }
    .nav_services-small-list {
      gap: 0rem 1rem;
      direction: rtl;
      grid-template-rows: auto auto;
      grid-template-columns: 1fr 1fr;
      grid-auto-columns: 1fr;
      align-items: center;
      padding-left: 1rem;
      padding-right: 1rem;
      display: grid;
    }
    .menu_wrapper {
      z-index: 999999;
      background-color: var(--primary-bg);
      width: 100vw;
      display: none;
      position: fixed;
      inset: 0%;
      overflow: hidden;
    }
    .menu_list {
      flex-flow: column;
      width: 100vw;
      min-width: 100vw;
      display: flex;
      overflow: auto;
    }
    .menu_list.is-main {
      justify-content: space-between;
      display: flex;
      position: relative;
    }
    .menu_list-wrapper {
      flex-flow: column;
      width: 100vw;
      min-width: 100vw;
      display: flex;
    }
    .menu_close-row {
      z-index: 10;
      border-bottom: 1px solid var(--colors--border);
      flex-flow: column;
      justify-content: center;
      align-items: center;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      display: flex;
      position: sticky;
      top: 0px;
    }
    .icon-32 {
      aspect-ratio: 1 / 1;
      flex: 0 0 auto;
      justify-content: center;
      align-items: center;
      width: 2rem;
      height: 2rem;
      display: flex;
    }
    .menu_first-list {
      column-gap: 1rem;
      direction: rtl;
      grid-template-rows: auto auto;
      grid-template-columns: 1fr 1fr;
      grid-auto-columns: 1fr;
      display: grid;
    }
    .menu_item {
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-bottom-color: var(--colors--border);
      direction: ltr;
      flex-flow: row-reverse;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 0px;
      font-size: 0.875rem;
      display: flex;
    }
    .menu_item.has-padding {
      direction: ltr;
      padding-left: 1rem;
      padding-right: 1rem;
      font-size: 0.875rem;
    }
    .icon-menu {
      width: 1rem;
      height: 1rem;
      color: var(--colors--gray);
    }
    .menu_btn-group {
      padding: 1rem;
    }
    .button.is-gray {
      background-color: var(--colors--border);
    }
    .btn-line {
      opacity: 0.1;
    }
    .btn-line.is-darker {
      background-color: var(--colors--blue-darkest);
      opacity: 0.2;
    }
    .menu_list.is-services, .menu_list.is-about {
      display: none;
      position: relative;
      overflow: auto;
    }
    .menu_top-row {
      z-index: 10;
      border-top: 2px solid var(--accent-yellow);
      background-color: var(--colors--blue-darker);
      color: var(--colors--white);
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      display: flex;
      position: sticky;
      top: 0px;
    }
    .nav_services-small-list.is-about {
      direction: ltr;
      grid-template-rows: auto auto auto auto auto;
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }
  
  @media screen and (max-width: 479px) {
    .nav_services-big-list {
      gap: 0.5rem;
      grid-template-rows: auto auto;
      grid-template-columns: 1fr;
    }
    .nav_services-small-list {
      align-items: stretch;
      display: flex;
    }
    .menu_first-list {
      flex-flow: column;
      display: flex;
    }
    .menu_btn-group {
      flex-flow: column;
      width: 100%;
    }
    .hero_content, .button {
      width: 100%;
    }
    .menu_list.is-about {
      display: flex;
    }
  }
  
  