* {
  box-sizing: border-box;
}

.services_long-wrapper {
  height: 500vh;
}

.services_wrapper {
  gap: 1rem;
  flex-flow: row;
  grid-template-rows: auto;
  grid-template-columns: 1fr 2fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
  position: sticky;
  top: 5vh;
}

.services_img-wrapper-desk {
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  min-height: 90vh;
  display: flex;
  position: relative;
  overflow: hidden;
}

img {
  border: 0px;
}

.services_img {
  object-fit: cover;
  height: 100%;
}

.services_list {
  border-top: 1px solid var(--colors--border);
}

.services_item {
  border-bottom: 1px solid var(--colors--border);
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  display: flex;
}

.services_item-inside-box {
  gap: 1rem;
  flex-flow: column;
  grid-template-rows: auto;
  grid-template-columns: 5fr 2.5fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  place-items: flex-end end;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
}

.services_item-title-holder {
  gap: 0.5rem;
  cursor: pointer;
  flex: 0 0 auto;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.services_item-title-holder.is-active {
  color: var(--colors--blue-lighter);
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
  font-weight: bold;
}

h3 {
  margin-top: 20px;
  font-size: 24px;
  line-height: 30px;
}

.h5 {
  font-size: clamp(1.125rem, 0.946rem + 0.894vw, 1.5rem);
  line-height: 1.7;
}

.icon-24 {
  aspect-ratio: 1 / 1;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  position: relative;
}

svg:not(:root) {
  overflow: hidden;
}

.services_item-content-holder {
  gap: 1rem;
  direction: rtl;
  flex-flow: column;
  display: flex;
}

p {
  margin-top: 0px;
  margin-bottom: 10px;
}

.services_suit-grid {
  gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.services_suit-group {
  gap: 0.5rem;
  flex-flow: column;
  display: flex;
}

h4 {
  margin-top: 10px;
  font-size: 18px;
  line-height: 24px;
}

.services_suit-item {
  gap: 0.5rem;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.yellow-dot {
  aspect-ratio: 1 / 1;
  background-color: var(--accent-yellow);
  border-radius: 1rem;
  flex: 0 0 auto;
  width: 0.5rem;
  height: 0.5rem;
}

.text-small {
  direction: rtl;
  font-size: 0.875rem;
}

.text-small.opacity-60 {
  opacity: 0.6;
}

.services_img-wrapper-tlm {
  justify-content: center;
  align-items: center;
  height: 100%;
  display: none;
  position: relative;
  overflow: hidden;
}

.spacer-2rem {
  width: 100%;
  min-height: 2rem;
}

.services_progress {
  background-color: var(--colors--blue-lighter);
  width: 40%;
  height: 2px;
}

.services_item-title-holder.is-not-active {
  opacity: 0.3;
}

.services_item-content-holder.is-not-active {
  display: none;
}

@media screen and (max-width: 991px) {
  .services_box-desktop {
    display: none;
  }
  .services_wrapper {
    flex-flow: row-reverse;
    grid-template-columns: 1fr;
    width: 100vw;
    display: flex;
    overflow: auto;
  }
  .services_img-wrapper-desk {
    display: none;
  }
  .services_img {
    width: 100%;
  }
  .services_list {
    flex-flow: row-reverse;
    justify-content: flex-end;
    display: flex;
  }
  .services_item {
    width: 80vw;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .services_item-inside-box {
    gap: 1rem;
    border-bottom: 1px solid var(--colors--border);
    flex-flow: row;
    grid-template-rows: auto;
    grid-template-columns: 0.75fr 2fr;
    grid-auto-columns: 1fr;
    align-items: stretch;
    padding-bottom: 0px;
    display: grid;
  }
  .services_img-wrapper-tlm {
    flex: 0 0 auto;
    display: block;
  }
  .spacer-2rem.is-services {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .services_img {
    object-position: 50% 50%;
    height: auto;
  }
  .services_item-inside-box, .services_suit-grid {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }
  .services_img-wrapper-tlm {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .services_suit-grid {
    grid-template-columns: 1fr;
  }
  .services_img-wrapper-tlm {
    width: 100%;
  }
}

.max-width {
    width: clamp(0rem, 100vw - 2rem, 100rem);
}
.section_services {
    grid-column-gap: 2.5rem;
    grid-row-gap: 2.5rem;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
    display: flex;
    position: relative;
    top: 0;
}